@@include('../_templates/_header_lemag.html')

<main>
    <section class="main-image">
        <div class="container">
            <div class="row">
              <img src="/img/lemag/article-fullwidth-alternative.jpg" alt="">
                <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Idée déco</a>
                    <h1>Quelles plantes choisir<br>pour décorer votre salon ?</h1>
                    <span>Publié le 12.10.16</span>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="container">
            <div class="row">
                <p class="col-sm-10 col-sm-offset-1 text-center"><strong>Cactus ? palmier ? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste</strong></p>
            </div>
        </div>
    </section>
    <section class="media two-images">
      <div class="container">
        <div class="row">
          <img src="/img/lemag/article-left-alternative.jpg" alt="">
          <img src="/img/lemag/article-right-alternative.jpg" alt="">
        </div>
      </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#0">commodo consequat.</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                  <br><br>
                  <span class="author-name">Mickaella Walter</span> <span class="author-job">Dénicheuse</span>
                  <p class="quote">J’aime les appartements fleuris, cactus, palmiers. Lorem ipsum dolor sit amet, consectetur elit, sed to dolor in reprehanderit in voluptate velit</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#0">commodo consequat.</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="media media-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6 video">
            <div class="overlay" id="launch-video">
              <span>Voir la video</span>
            </div>
            <img src="/img/lemag/image-video.jpg" alt="">
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6 text-left text">
            <a href="#0" class="categ">Vidéo</a>
            <h2><a href="#0">Aménager un coin de verdure dans votre salon</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
          </div>
        </div>
      </div>
    </section>
    <section class="author">
        <div class="container">
            <div class="row">

                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                  <p>deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitvoluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="share">
                        <div class="row">
                            <div class="col-xs-5 ">
                                <span>Écrit par :</span><br>
                                <span class="author-name">Marcel Wister</span>
                            </div>
                            <div class="col-xs-7 text-right">
                                <span>Partager sur :</span><br>
                                <ul class="social">
                                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                                    <li><a class="pinterest" href="#">Pinterest</a></li>
                                    <li><a class="twitter" href="#">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="more">
        <div class="col-sm-12">
            <div class="title text-center">
                <span class="text-background">More</span>
                <h2><span>Découvrez</span> <em>D'autres articles<br>sur le même thème</em></h2>
            </div>
          <div class="container">
            <div class="row">
              <ul class="articles-row row">
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Do It Yourself</a>
                      <h3><a href="#0">L'effet papillon en mouvement</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Mickaël Rodriguez</span>
                    </div>
                  </div>
                </li>
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Do It Yourself</a>
                      <h3><a href="#0">Réaliser un bougeoir avec une branche</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Thibaud de Loigny</span>
                    </div>
                  </div>
                </li>
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Inspiration Design</a>
                      <h3><a href="#0">Du bois et du brut pour un intérieur rétro</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Tania Wolerberg</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

  <div class="overlay-lightbox">
    <div class="content-video">
      <!--<div class="video-container">-->
      <!--<iframe src="http://player.vimeo.com/video/22428395" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
      <!--</div>-->
      <div class="video-container">
        <iframe width="500" height="500" src="http://www.youtube.com/embed/wN3gueLT0D8?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>


</main>
@@include('../_templates/_footer.html')
