@@include('../_templates/_header_lemag.html')

<main>
    <section class="main-image">
        <div class="container">
            <div class="row">
              <img src="/img/lemag/main-image-diy.jpg" alt="">
                <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Do It Yourself</a>
                    <h1>réaliser un terrarium<br>pour décorer une table</h1>
                    <span>Publié le 12.10.16</span>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="container">
            <div class="row">
                <p class="col-sm-10 col-sm-offset-1 text-center"><strong>En plus d'introduire un petit bout de nature dans les intérieurs, les terrariums se veulent résolument déco ! Posés sur la table de la salle à manger ou dans le salon, ils apportent une touche tendance et naturelle sans trop en faire. Fabriquez vous-même votre terrarium avec cactus en suivant les quelques étapes de ce tuto simple comme bonjour... </strong></p>
            </div>
        </div>
    </section>
    <section class="">
      <div class="container">
        <div class="row same-height-container">
          <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 same-height">
            <div class="list-border">
              <span class="title">Matériel<br>necessaire</span>
              <ul>
                <li>
                  <a href="#0"> Un cactus<br>
                    ou une plante succulente</a>
                </li>
                <li>
                  <span>Un terrarium</span>
                  <strong>Vendu chez Fly</strong>
                </li>
                <li>
                  <span>Du terreau adaptéaux cactées</span>
                </li>
                <li>
                  <span> De la pouzzolane</span>
                </li>
                <li>
                  <a href="#0"> Des pierres décoratives</a>
                  <strong>Vendue chez Fly</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 same-height">
            <img src="/img/lemag/materiel.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
  <section class="intro">
    <div class="container">
      <div class="row">
        <p class="col-sm-10 col-sm-offset-1 text-center"><strong>Au cas où vous ne l'auriez pas encore remarqué, terrariums, cactus, plantes succulentes et mini-serres sont devenus des incontournables de la déco. Nessa Buonomo, blogueuse de la Mariée aux pieds nus et fan inconditionnelle des DIY et des compositions florales, l'a bien remarqué et propose un tutoriel facile à réaliser pour se créer un petit coin de nature chez soi. Côté Maison vous livre les étapes de ce DIY, extrait du livre Tables fleuries aux éditions Eyrolles. </strong></p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
        <div class="row same-height-container">
          <div class="col-sm-6 step-container same-height pull-right">
              <span class="step">
                étape
                <em>01</em>
              </span>
            <h2>Mise en place<br>du terreau</h2>
            <h3>Déposez une petite poignéede pouzzolane</h3>
            <p>Cette roche d'origine volcanique participera au drainage sicing elit, sed do eiusmod tempor incidi unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eproident, sunt in culpa qui officia.</p>
            <h3>Ajoutez un peu de terreau adapté aux plantes</h3>
            <p>Duuntur magni <a href="#0">dolores eos</a> qui ratione voluptatem sequi nesciunt. , consectetur, adipisci vs modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
          <div class="col-sm-6 same-height pull-left">
            <img src="/img/lemag/step01.jpg" alt="">
            <span class="copyright">Chloé Lapeyssonnie / <a href="http://www.chloelapeyssonnie.com" target="_blank">www.chloelapeyssonnie.com</a></span>
          </div>
        </div>
    </div>
  </section>
  <section class="media-text media">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 step-container">
          <span class="step">
            étape
            <em>02</em>
          </span>
          <h2>Déposer votre cacté dans le terrarium</h2>
          <h3>Ôtez l'excédent de terre pour dégager en douceur les racines de la plante</h3>
          <p>N'hésitez pas à porter des gants pour vous protéger des épines incidi unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis pariatur.</p>
        </div>
        <div class="col-sm-6 col-md-8 video">
          <div class="overlay" id="launch-video">
            <span>Voir la video</span>
          </div>
          <img src="/img/lemag/step02.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row same-height-container">
        <div class="col-sm-6 step-container same-height pull-right">
          <span class="step">
            étape
            <em>03</em>
          </span>
          <h2>Ajoutez du terreau tout autour du cactus</h2>
          <h3>Sortez le cactus de son pot, attention à vos doigts !</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
          <h3>Placez-la délicatement dans le terrarium</h3>
          <p>Duuntur magni <a href="#0">dolores eos</a> qui ratione voluptatem sequi nesciunt. , consectetur, adipisci vs modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="col-sm-6 same-height pull-left">
          <img src="/img/lemag/step03.jpg" alt="">
          <span class="copyright">Chloé Lapeyssonnie / <a href="http://www.chloelapeyssonnie.com" target="_blank">www.chloelapeyssonnie.com</a></span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row same-height-container">
        <div class="col-sm-6 step-container same-height">
          <span class="step">
            étape
            <em>04</em>
          </span>
          <h2>Agrémentez de quelques beaux cailloux</h2>
          <h3>Utilisez un petit pinceau pour nettoyer la plante en douceur</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi unt ut labore et dolore magna aliqua. Ut enim ad.</p>
          <h3>Arrosez doucement et en petite quantité la terre autour du cactus pour stabiliser l'ensemble</h3>
          <p>Duuntur magni <a href="#0">dolores eos</a> qui ratione voluptatem sequi nesciunt. , consectetur, adipisci vs modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="col-sm-6 same-height">
          <img src="/img/lemag/step04.jpg" alt="">
          <span class="copyright">Chloé Lapeyssonnie / <a href="http://www.chloelapeyssonnie.com" target="_blank">www.chloelapeyssonnie.com</a></span>
        </div>
      </div>
    </div>
  </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="share">
              <div class="row">
                <div class="col-xs-5 ">
                  <span>Écrit par :</span><br>
                  <span class="author-name">Marcel Wister</span>
                </div>
                <div class="col-xs-7 text-right">
                  <span>Partager sur :</span><br>
                  <ul class="social">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                    <li><a class="pinterest" href="#">Pinterest</a></li>
                    <li><a class="twitter" href="#">Twitter</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="more">
        <div class="col-sm-12">
            <div class="title text-center">
                <span class="text-background">More</span>
                <h2><span>Découvrez</span> <em>D'autres articles<br>sur le même thème</em></h2>
            </div>
          <div class="container">
            <div class="row">
              <ul class="articles-row row">
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Do It Yourself</a>
                      <h3><a href="#0">L'effet papillon en mouvement</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Mickaël Rodriguez</span>
                    </div>
                  </div>
                </li>
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Do It Yourself</a>
                      <h3><a href="#0">Réaliser un bougeoir avec une branche</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Thibaud de Loigny</span>
                    </div>
                  </div>
                </li>
                <li class="item col-sm-4">
                  <div class="img">
                    <a href="#0">
                      <img src="../../img/lemag/article-left.jpg" alt="">
                    </a>
                  </div>
                  <div class="row-content">
                    <div class="content">
                      <a href="#0" class="categ">Inspiration Design</a>
                      <h3><a href="#0">Du bois et du brut pour un intérieur rétro</a></h3>
                      <a href="#0" class="link"><span>Lire l'article</span></a>
                    </div>
                    <div class="infos">
                      <span class="date">Le 12.10.16</span>
                      <span class="author-name">Tania Wolerberg</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

  <div class="overlay-lightbox">
    <div class="content-video">
      <!--<div class="video-container">-->
      <!--<iframe src="http://player.vimeo.com/video/22428395" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
      <!--</div>-->
      <div class="video-container">
        <iframe width="500" height="500" src="http://www.youtube.com/embed/wN3gueLT0D8?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>


</main>
@@include('../_templates/_footer.html')
