#lemag{
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 35px;
  background-color: #ececec;
  strong, em{
    font-weight:600;
  }
  p{
    font-size: 16px;
    line-height: 35px;
  }
  img{
    max-width:100%;
  }
  .nopadding{
    padding: 0;
  }
  .container{
    width: 100%;
  }
  .same-height-container{
    float: none;
    display: table;
    .same-height{
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
  #header{
    border-bottom: 0;
    .logo{
      background: transparent url("../img/lemag/le-mag-fly-logo.png") no-repeat scroll center center / 435px auto;
      height: 120px;
      margin: -10px 0 40px 0;
      text-indent: -9999px;
    }
    .top-bar{
      .info-msg{
        padding: 8px 0 7px;
      }
    }
    .sub-top-bar{
      padding-top: 25px;
      .icons{
        float: right;
        text-align: right;
        ul{
          padding: 3px 0 0 0;
          margin: 0;
          li{
            display: inline-block;
            padding-left: 20px;
            span.label{
              display: none;
            }
            i{
              font-size: 28px;
              transition: color 0.5s ease 0s;
              &:hover{
                color: #EB212E;
              }
            }
          }
        }


      }
      .link-back {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        span{
          padding-left: 7px;
        }
        a{
          padding-left: 20px;
          text-decoration: none;
          transition: all 200ms linear;
        }
        &:hover{
          a{
            padding-left: 15px;
          }
        }
      }
    }
  }
  #main-menu{
    ul{
      padding: 0;
      margin: 40px 0 0;
      width: 100%;
      float: left;
      list-style-type:none;
      li{
        list-style:none;
        float: left;
        width: 25%;
        text-align: center;

        a{
          color: #1e1e1e;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-weight:300;
          font-size: 19px;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          position: relative;
          &:after {
            background: transparent none repeat scroll 0 0;
            bottom: -2px;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
            width: 0;
          }
          &:hover:after {
            width: 100%;
            background: #1e1e1e;
          }
          &.active{
            font-weight: 600;
            border-bottom:2px solid #1e1e1e;
          }
        }
      }
    }
  }
  section{
    padding: 40px 0;
    p{
      letter-spacing: 0.6px;
    }
    .text-background{
      color: #dfdfde;
      display: inline-block;
      font-family: "Yellowtail",sans-serif;
      font-size: 150px;
      transform: rotate(-10deg);
      z-index: -1;
      position: relative;
      &.univers{
        left: -165px;
        top: -40px;
        display: block;
      }
    }
    a{
      font-weight:600;
      text-decoration: underline;
      color: #1e1e1e;
      &:hover{
        text-decoration: none;
      }
    }
    .list-border{
      border: 1px solid #1e1e1e;
      position: relative;
      float: left;
      widtH: 100%;
      .title{
        color: #1e1e1e;
        font-family: "Yellowtail", sans-serif;
        font-size: 31px;
        line-height: 25px;
        transform: rotate(-10deg);
        display: inline-block;
        background: #ececec;
        padding: 32px;
        margin-left: 20px;
        position: absolute;
        top: -58px;
        left: 0;
      }
      ul{
        padding: 60px 0 0 0;
        margin: 0;
        float: left;
        width: 100%;
        li{
          padding: 13px 40px 0 40px;
          display: block;
          margin-bottom: 33px;
          position: relative;
          &:before{
            content: '•';
            position: absolute;
            top: -15px;
            left: 39px;
            width: 5px;
            height: 5px;
            font-size: 15px;
          }
          a,span{
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
            text-decoration: underline;
            display: block;
            text-transform: uppercase;
            letter-spacing: 3px;
          }
          strong{
            display: block;
            font-weight: 600;
            margin-top: -5px;
            letter-spacing: -0.5px;
            width: 100%;
          }
        }
        &.articles {
          .overlay{
            height: calc(100% - 19px);
            width: calc(96% - 30px);
            &:hover{
              height: calc(100% - 19px);
              width: calc(96% - 30px);
              margin: 2%;
              background: rgba(135, 135, 135, 0.3);
            }
          }
          li {
            border-bottom: 1px solid #dddddd;
            float: left;
            padding: 0 0 30px;
            position: static;
            width: 100%;
            transition: all 200ms linear;
            &:last-child{
              border-bottom: 0;
              padding-bottom: 10px;
            }
            &:before{
              display:none;
              content:"";
            }
            &:hover{
              a{
                opacity:0.6;
              }
            }
            h3{
              a{
                font-size: 21px;
                font-weight: 700;
                line-height: 25px;
                margin-top: 15px;
                text-transform: none;
                text-decoration: none;
              }
            }
            .overlay{
              z-index:2;
              span{
                widtH: 48px;
                height: 48px;
                margin-top: -24px;
                margin-left: -24px;
              }
              &:hover{
                span{
                  border: 6px solid #fff;
                }
              }
            }
          }
        }
      }
    }
    .step-container{
      .step {
        position: relative;
        min-height: 125px;
        display: inline-block;
        text-transform: uppercase;
        padding-top: 91px;
        width: 125px;
        font-size: 26px;
        letter-spacing: 3px;
        text-align: center;
        color: #1e1e1e;
        margin-bottom: 30px;
        margin-left: -15px;
        em {
          transform: rotate(-18deg);
          position: absolute;
          color: #dfdfde;
          z-index: -1;
          left: 0;
          letter-spacing: 7.5px;
          font-size: 136px;
          font-family: "Yellowtail", sans-serif;
          top: 60px;
        }
      }
      h2{
        color: #1e1e1e;
        font-size: 42px;
        line-height: 47px;
        letter-spacing: -1px;
        margin-bottom: 40px;
        font-weight: 700;
      }
      h3{
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 1px;
        font-weight: 700;
        word-spacing: -2px;
      }
      p{
        font-size: 16px;
        margin-bottom:100px;
      }
    }
    .copyright{
      display: block;
      margin-top: 11px;
      font-size: 18px;
      line-height:24px;
      color: #adadad;
      font-weight: 300;
      a{
        color: #adadad;
        text-decoration:underline;
        font-weight: 300;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .author-name{
      color: #1e1e1e;
      font-family: "Yellowtail", sans-serif ;
      font-size: 35px;
      letter-spacing:0.2px;
      display: inline-block;
      margin-right: 10px;
    }
    .author-job{
      font-family: "Poppins", sans-serif;
      font-weight:300;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .quote{
      font-family: "Poppins", sans-serif;
      letter-spacing: 0;
      font-weight: 700;
      font-size: 29px;
      line-height: 38px;
      position: relative;
      margin: 13px 0 60px;
      &:before{
        background: rgba(0, 0, 0, 0) url("../img/lemag/quote-start.png") repeat scroll 0 0 / 100% auto;
        content: "";
        height: 14px;
        left: -35px;
        position: absolute;
        width: 22px;
      }
      &:after{
        background: rgba(0, 0, 0, 0) url("../img/lemag/quote-end.png") repeat scroll 0 0 / 100% auto;
        bottom: 20px;
        content: "";
        height: 14px;
        margin-left: 12px;
        position: absolute;
        width: 22px;
      }
    }
    .share {
      border-top: 1px solid #dddddd;
      font-weight: 300;
      letter-spacing: 2px;
      margin-top: 45px;
      padding-top: 25px;
      text-transform: uppercase;
      span{
        font-size: 13px;
      }
      .author-name {
        font-size: 23px;
        line-height:26px;
        text-transform: none;
      }
      .social{
        float: right;
        margin: 0;
        padding: 0;
        li{
          display: inline-block;
          float: left;
          list-style: none;
          margin: 0 20px;
          max-width: 30px;
          overflow: hidden;
          text-align: right;
          transition: all 200ms linear;
          &:last-child{
            margin-right: 0;
          }
          a{
            padding: 0 5px;
            text-indent: 9999px;
            display: inline-block;
            width: 30px;
            height: 25px;
            background:url("../img/lemag/social-share.png");
            background-repeat:no-repeat;
            background-color: transparent;
            background-size: auto 100%;
            transition: all 200ms linear;
            text-decoration: none;
            &.facebook{
              background-position: 8px 1px;
            }
            &.twitter{
              background-position: -195px 0;
            }
            &.instagram{
              background-position: -60px 0;
            }
            &.pinterest{
              background-position: -125px 0;
            }

          }
          &:hover{

            &:hover{
              opacity:0.6;
              margin-top: -2px;
            }

          }
        }
      }
    }
    &.main-image,
    &.slideshow{
      position: relative;
      .content{
        background:#fff;
        padding: 20px;
        margin-top: -131px;
        margin-bottom: 0;
        a{
          color: #1e1e1e;
          font-size: 16px;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight:300;
          letter-spacing:3px;
          &:hover{
            text-decoration: none;
          }
        }
        h1, .title{
          font-size: 50px;
          font-weight: 600;
          line-height: 60px;
          letter-spacing: 0.8px;
          margin: 12px 0 20px;
          display: block;
          text-decoration: none;
          text-transform: none;
        }
        span{
          color: #1e1e1e;
          font-size: 16px;
          text-transform: uppercase;
          font-weight:300;
          letter-spacing:3px;
        }
        .link{
          display: block;
          text-align: center;
          margin: 24px 0 10px;
          span{
            width: 30px;
            height: 16px;
            display: inline-block;
            background: url("../../../img/lemag/arrow-right.png") center center no-repeat transparent;
            background-size: 100% auto;
            text-indent: -9999px;
            transition: all 200ms linear;
          }
          &:hover{
            span{
              margin-left: 10px;
            }
          }
        }
      }
        .content-arrows{
          top: -305px;
          padding: 20px;
          position: relative;
          margin-bottom: 130px;
         .arrow{
           width:28px;
           border: none;
           height: 81px;
           text-indent: -9999px;
           display: inline-block;
           background: transparent url("../img/lemag/arrows-slideshow.png") no-repeat scroll left top / auto 100%;
           &.leftArrow{
             margin-left: 14px;
           }
           &.rightArrow{
             float: right;
             margin-right: 14px;
             background-position: right top;
           }
         }
        }
      .slick-dots {
        margin: 35px 0;
        padding: 0;
        text-align: center;
          li {
            border: medium none;
            border-radius: 100px;
            display: inline-block;
            margin: 0;
            padding: 10px;
            button {
              background: #c8c8c8 none repeat scroll 0 0;
              border: medium none;
              border-radius: 100px;
              display: block;
              height: 10px;
              padding: 0;
              text-indent: -9999px;
              width: 10px;
            }
            &.slick-active,
            &:hover{
              button{
                background: #111;
              }
          }
        }
      }
      .slick-slider .slick-track,
      .slick-slider .slick-list{
        margin-right:0;
      }
    }

    &.intro{
      p{
        font-size: 20px;
        line-height:35px;
        font-weight:600;
      }
    }
    &.media{
      &.two-images{
        padding: 0;
        margin-top: 0;
        img{
          width: 46%;
          margin: 3%
        }
        img:nth-child(1){
          float: left;
          margin-right: 0;
        }
        img:nth-child(2){
          float: right;
          margin-top: 150px;
          margin-left: 0;
        }
      }
      &.fullwidth-image{
        img{
          width: 100%;
        }
      }
      &.media-text{
        margin: 40px 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        .video,
        .text {
          float: left;
        }
        .video{
          position: relative;
          padding: 0;
          &.same-height{
            float: none;
          }
        }
        .text{
          background: #fff none repeat scroll 0 0;
          margin-bottom: -9999px;
          padding: 40px 25px 9999px 30px;
          .categ{
            color: #1e1e1e;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 3px;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
              text-decoration: none;
            }
          }
          h2{
            font-size: 50px;
            margin-top: 10px;
            margin-bottom: 40px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 60px;
            a{
              text-decoration: none;
            }
          }
          p{
            font-size: 16px;
            line-height: 35px;
            padding: 0 8px;
          }
          .content{
            position: relative;
            .infos{
              position: absolute;
              bottom: 10px;
              .author-name{
                font-size: 21px;
                float: right;
              }
            }
          }
          &.same-height{
            margin-bottom:0;
            padding-bottom:40px;
            float: none;
            position: relative;
            .infos{
              position: absolute;
              bottom: 10px;
              width: 90%;
              .author-name{
                float: right;
                font-size: 21px;
              }
              .date{
                font-size: 13px;
              }
            }
            p{
              padding: 0;
            }
          }
          .link{
            text-align: left;
          }
        }
      }
    }
    .link{
      display: block;
      text-align: center;
      margin: 24px 0 10px;
      span{
        width: 30px;
        height: 16px;
        display: inline-block;
        background: url("../../../img/lemag/arrow-right.png") center center no-repeat transparent;
        background-size: 100% auto;
        text-indent: -9999px;
        transition: all 200ms linear;
      }
      &:hover{
        span{
          margin-left: 10px;
        }
      }
    }
    .overlay{
      background-color: rgba(135, 135, 135, 0.3);
      height: 94%;
      margin: 2%;
      position: absolute;
      width: 96%;
      cursor: pointer;
      transition: all 200ms linear;
      &:hover{
        background: rgba(135, 135, 135, 0.6) none repeat scroll 0 0;
        height: 100%;
        margin: 0;
        width: 100%;
        span{
          background-size: 95%;
          border: 10px solid #fff;
        }
      }
      span{
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 200px;
        background: transparent url("../../../img/lemag/icon-play.png") center center no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -45px;
        margin-left:-45px;
        text-indent: -9999px;
        transition: all 200ms linear;

      }
    }
    &.author{
      margin-top: 40px;
    }
    &.shop,
    &.more{
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #dadada;
      float: left;
      margin-bottom: 50px;
      padding-bottom: 140px;
      padding-top: 100px;
      width: 100%;
      .title{
        text-align: center;
        h2{
          margin-top: -40px;
          z-index:2;
          position: relative;
          span{
            color: #1e1e1e;
            display: inline-block;
            font-family: "Raleway",sans-serif;
            font-size: 24px;
            letter-spacing: 5px;
            margin-bottom: 30px;
            text-transform: uppercase;
            width: 100%;
          }
          em{
            display: block;
            font-family: "Poppins",sans-serif;
            font-size: 40px;
            line-height: 50px;
            font-style: normal;
            font-weight: 700;
            width: 100%;
          }
        }
      }

      .text-background{
        z-index:0;
        color: #f1f0f0;
      }
      ul{
        padding:0;
        margin: 0;
        width:100%;
        li.item{
          list-style:none;
          color: #1e1e1e;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight:600;
          a{
            text-decoration: none;
            transition: all 200ms linear;
            &:hover{
              opacity:0.7;
            }
          }
          .item-status {
            font-weight: 400;
            margin-top:-10px;
            .instock{
              color: #3fb34f;
            }
          }
          .item-title{
            margin: 0;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight:600;
          }
        }
      }
      &.noborder{
        border-bottom: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
    }
    &.more {
      background: #ececec;
      .text-background {
        color: #dfdfde;
      }
      .title {
        margin-bottom: 70px;
        h2 {
          margin-top: -45px;
          span {
            margin-bottom: 25px;
          }
        }
      }
    }
    .articles-row{
      float: left;
      width: 100%;
      .row-content{
        background: #fff none repeat scroll 0 0;
        float: left;
        padding-bottom: 18px;
        min-height: 300px;
        position: relative;
        width: 100%;
      }
      .img,
      .content,
      .img,
      .infos{
        float: left;
        width: 100%;
      }
      .content{
        padding: 33px;
        text-align: center;
        a{
          color: #1e1e1e;
          font-size: 16px;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight:300;
          letter-spacing:3px;
          &:hover{
            text-decoration: none;
          }
        }
        h3 {
          text-align: center;
          padding: 5px 0;
          a{
            font-size: 30px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.8px;
            margin: 12px 0 20px;
            text-transform: none;
            text-decoration: none;
          }
        }
        .link{
          display: block;
          text-align: center;
          margin: 24px 0 10px;
          span{
            width: 30px;
            height: 16px;
            display: inline-block;
            background: url("../../../img/lemag/arrow-right.png") center center no-repeat transparent;
            background-size: 100% auto;
            text-indent: -9999px;
            transition: all 200ms linear;
          }
          &:hover{
            span{
              margin-left: 10px;
            }
          }
        }
      }

      .infos{
        bottom: 12px;
        padding: 0 30px;
        position: absolute;
        .date,
        .author-name{
          display: inline-block;

        }
        .date{
          text-align: left;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 300;
          padding-left: 10px;
          letter-spacing: 2px;
        }
        .author-name{
          float: right;
          font-size: 21px;
        }
      }
    }

  }
  .item-article{
    a{
      transition: all 200ms linear;
      &:hover{
        opacity:0.6;
      }
    }
  }
  .overlay-lightbox{
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 50%;
    left: 0;
    margin-left: 25%;
    opacity: 0;
    position: fixed;
    top: -100vh;
    transition: all 200ms linear 0s;
    visibility: hidden;
    width: 50%;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &.visible{
      top: 0;
      opacity:1;
      visibility: visible;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    .content-video{
      display: inline-block;
      vertical-align: middle;
      width: 80%;
      margin-left: 10%;
      .video-container{
        position: relative;
        padding-top: 25px;
        padding-bottom: 56.25%;
        height: 0;
        embed,
        iframe,
        object,
        video {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) {
  #lemag{
    #main-menu{
      ul{
        li{
          a{
            font-size: 19px;
          }
        }
      }
    }
    section{
      &.main-image,
      &.slideshow{
        .content{
          h1, .title{
            font-size: 48px;
            line-height: 56px;
          }
        }
        .content-arrows{
          top: -297px;
        }
      }
      &.media{
        &.media-text{
          .video{
            height: 95%;
          }
          .text{
            h2{
              font-size: 46px;
              line-height: 54px;
              margin-bottom: 30px;
            }
            p{
              font-size: 15px;
              line-height:33px;
            }
          }
        }
      }
      .step-container {
        h2 {
          font-size: 40px;
          line-height: 43px;
          margin-bottom: 40px;
        }
        h3{
          font-size: 19px;
          line-height:30px;
        }
        p {
          font-size: 15px;
          line-height: 31px;
          margin-bottom: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  #lemag{
    #main-menu {
      ul {
        li {
          a{
            font-size: 19px;
          }
        }
      }
    }

    section{
      &.main-image,
      &.slideshow{
        .content{
          margin-top: -111px;
          h1, .title{
            font-size: 40px;
            line-height:48px;
          }
          span{
            font-size: 14px;
          }
        }
        .content-arrows{
          top: -300px;
        }
      }
      &.media{
        &.media-text{
          .text{
            padding: 30px 20px 9999px 25px;
            h2{
              font-size: 38px;
              line-height: 42px;
              margin-bottom: 25px;
            }
            p{
              font-size: 14px;
              line-height: 27px;
            }
          }
        }
      }
      &.intro{
        p{
          font-size: 17px;
        }
      }
      &.shop,
      &.more{
        .title{
          h2{
            span{
              font-size: 20px;
              margin-bottom: 20px;
            }
            em{
              font-size: 30px;
            }
          }
        }
      }
      &.more{
        .articles-row{
          .content{
            padding: 10px 20px 33px;
            .categ{
              font-size: 14px;
            }
            h3{
              display: inline-block;
              font-size: 25px;
              line-height: 28px;
              margin: 7px 0;
            }
            .link{
              margin: 15px 0 10px;
            }
          }
          .infos{
            padding: 0 10px;
            .date{
              font-size: 13px;
              letter-spacing: 1.5px;
            }
            .author-name{
              float: right;
              font-size: 18px;
              margin-right: 3px;
            }
          }
        }
      }
      .text-background{
        font-size: 120px;
        &.univers {
          left: -135px;
          top: -20px;
        }
      }
      .copyright{
        font-size: 15px;
      }
      .list-border{
        ul{
          li{
            margin-bottom: 23px;
            span{
              font-size: 15px;
              line-height: 23px;
            }
          }
        }
      }
      .step-container {
        .step {
          font-size: 21px;
          margin-bottom: 20px;
          margin-left: -15px;
          min-height: 85px;
          padding-top: 50px;
          em {
            font-size: 96px;
            top: 30px;
          }
        }
        h2 {
          font-size: 34px;
          line-height: 38px;
          margin-bottom: 20px;
        }
        h3{
          font-size: 19px;
          line-height:28px;
        }
        p {
          font-size: 15px;
          line-height: 27px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #lemag{
    #main-menu {
      ul {
        li {
          a{
            font-size: 14px;
          }
        }
      }
    }
    section{
      &.main-image,
      &.slideshow{
        .content{
          h1, .title{
            font-size: 31px;
            line-height: 40px;
            margin: 10px 0;
          }
          span{
            font-size: 13px;
          }
        }
        .content-arrows{
         display: none;
        }
      }
      &.intro{
        p{
          font-size: 16px;
        }
      }
      &.media{
        .two-images {
          img:nth-child(2){
            margin-top: 90px;
          }
        }
        &.media-text{
          .text{
            padding: 5px 18px 9999px;
            .categ{
              font-size: 14px;
            }
            h2{
              font-size: 27px;
              line-height: 29px;
              margin-bottom: 12px;
              margin-top: 0;
            }
            p{
              font-size: 13px;
              line-height: 23px;
              padding: 0;
            }
          }
        }
      }
      &.shop,
      &.more{
        .title{
          h2{
            span{
              font-size: 18px;
              margin-bottom: 15px;
            }
            em{
              font-size: 27px;
            }
          }
        }
      }
      &.more{
        .articles-row{
          padding-bottom: 0;
          .content{
            padding: 8px 12px 5px;
            .categ{
              font-size: 13px;
              letter-spacing:2px;
            }
            h3{
              padding: 0;
              a{
                font-size: 24px;
                line-height: 30px;
              }
            }
            .link{
            }
          }
          .infos{
            .date {
              display: block;
              font-size: 13px;
              line-height: 13px;
              margin-bottom: 5px;
              padding: 0;
              text-align: center;
              width: 100%;
            }
            .author-name{
              display: block;
              font-size: 18px;
              line-height: 21px;
              margin: 0;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
      .list-border{
        margin-bottom: 30px;
      }
      .articles-row{
        width: auto;
      }
      .step-container{
        .step {
          font-size: 18px;
          margin-bottom: 10px;
          margin-left: -15px;
          min-height: 75px;
          padding-top: 30px;
          width: 90px;
          em {
            font-size: 80px;
            top: 20px;
          }
        }
        h2 {
          font-size: 26px;
          line-height: 29px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 17px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          line-height: 23px;
          margin-bottom: 20px;
        }
      }
      &.author{
        margin-top: 20px;
      }
      .text-background{
        font-size: 100px;
        &.univers {
          left: -100px;
        }
      }
      .quote {
        font-size: 22px;
        line-height: 35px;
        margin: 10px 0 40px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    &#lemag {
      p{
        font-size: 14px;
        line-height:31px;
      }
      .overlay-lightbox{
        .content-video{
          width: 90%;
          margin-left: 5%;
        }
      }
      #header {
        .logo {
          background: transparent url("../img/lemag/le-mag-fly-logo.png") no-repeat scroll center center / 100% auto;
          height: 130px;
          margin: 20px auto;
          max-width: 420px;
          width: 100%;
        }
        .sub-top-bar {
          .link-back {
            text-align: center;
            span {
              margin-left: -10px;
              padding-left: 0;
            }
            a{
              padding-left: 10px;
            }
          }
        }
      }
      #main-menu {
        ul {
          li {
            margin-bottom: 10px;
            width: 50%;
            a {
              font-size: 15px;
            }
          }
        }
      }
      section {
        &.main-image,
        &.slideshow {
          .content {
            margin-bottom: 0;
            a {
              font-size: 14px;
            }
            h1, .title {
              font-size: 25px;
              line-height:32px;
              margin-bottom: 10px;
            }
          }
        }
        &.intro {
          p{
            font-size: 15px;
            line-height: 30px;
          }
        }
        &.media {
          &.two-images {
            img {
              width: 94%;
              margin: 3%;
              &:nth-child(2){
                margin-top: 3%;
              }
            }
          }
          &.media-text{
            .text {
              margin: 0;
              padding: 15px;
              text-align: center;
              h2{
                font-size: 27px;
                line-height: 34px;
                margin-bottom: 12px;
                margin-top: 0;
                a{
                  text-decoration: none;
                }
              }
            }
            .video{
              padding: 0 15px;
              .overlay{
                widtH: 91%;
                &:hover{
                  width: 96%;
                }
              }
            }
          }
        }
        &.shop,
        &.more{
          padding-top: 60px;
          .title {
            h2 {
              span {
                font-size: 16px;
                margin-bottom: 15px;
              }
              em {
                font-size: 21px;
              }
            }
          }
          .products-row{
            .item{
              text-align: center;
            }
          }
        }
        &.more{
          .articles-row{
            .row-content{
              padding-bottom: 5px;
              min-height:0;
              margin-bottom: 30px;
            }
            .content{
              padding:0 20px 21px;
              .categ{
                width: 100%;
                display: inline-block;
              }
              h3{
                padding: 0;
              }
              .link{
                margin: 5px 0;
              }
            }
            .infos{
              position: static;
              padding-bottom: 10px;

            }
          }
        }
        &.author {
          margin-top: 0;
          .author-name{
            width: 100%;
          }
        }
        .text-background {
          font-size: 100px;
          &.univers {
            left: 0;
            text-align: center;
          }
        }
        .share{
          .social{
            li{
              margin: 0 8px;
            }
          }
        }
        .quote {
          font-size: 20px;
          line-height: 33px;
          margin: 10px 0 40px 5%;
          max-width: 90%;
          &:before{
            height: 11px;
            width: 17px;
            left: -21px;
          }
          &:after{
            height: 11px;
            width: 17px;
            margin-left: 8px;
          }
        }
        .list-border {
          margin-bottom: 30px;
        }
        .same-height-container{
          float: left;
          display: block;
          .same-height{
            float: left;
            display: block;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 440px) {
  body{
    &#lemag {
      #main-menu{
        ul{
          li{
            width: 100%;
            a{
              font-size: 15px;
            }
          }
        }
      }
      section{
        &.main-image,
        &.slideshow{
          .content {
            margin-top: -40px;
            h1, .title {
              font-size: 21px;
              line-height:27px;
            }
          }
        }
        .list-border{
          margin-top: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  body{
    &#lemag{
      #header {
        .logo {
          height: 80px;
        }
      }
      #main-menu {
        ul {
          margin-top: 20px;
          li {
            a {
              font-size: 13px;
            }
          }
        }
      }
      section{
        padding: 25px 0;
        &.main-image,
        &.slideshow {
          .content {
            margin-top: -40px;
            a, span{
              font-size: 12px;
            }
            h1, .title {
              font-size: 18px;
              line-height:25px;
              margin: 5px 0;
            }
          }
        }
        &.intro{
          p{
            font-size: 14px;
            line-height: 27px;
          }
        }
        &.media{
          &.two-images{
            margin-top: 0;
            padding-top:10px;
          }
        }
        &.shop,
        &.more{
          .title{
            h2{
              margin-top: -30px;
            }
          }
        }
        .text-background{
          font-size: 80px;
        }
        .quote {
          font-size: 18px;
          line-height: 30px;
          margin: 10px 0 30px;
        }
        .share{
          div{
            text-align: center;
            width: 100%;
            margin: 0;
            .social{
              float: none;
              li{
                float: none;
                &:last-child{
                  margin: 0 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
