
#article{
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 35px;
  background-color: #ececec;
  strong, em{
    font-weight:600;
  }
  p{
    font-size: 16px;
    line-height: 35px;
  }
  img{
    max-width:100%;
  }
  .container{
    width: 100%;
  }
  #header{
    border-bottom: 0;
    .logo{
      background: transparent url("../img/lemag/le-mag-fly-logo.png") no-repeat scroll center center / 435px auto;
      height: 120px;
      margin: -10px 0 40px 0;
      text-indent: -9999px;
    }
    .top-bar{
      .info-msg{
        padding: 8px 0 7px;
      }
    }
    .sub-top-bar{
      padding-top: 25px;
      .icons{
        float: right;
        text-align: right;
        ul{
          padding: 3px 0 0 0;
          margin: 0;
          li{
            display: inline-block;
            padding-left: 20px;
            span.label{
              display: none;
            }
            i{
              font-size: 28px;
              transition: color 0.5s ease 0s;
              &:hover{
                color: #EB212E;
              }
            }
          }
        }


      }
      .link-back {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        span{
          padding-left: 7px;
        }
        a{
          padding-left: 20px;
          text-decoration: none;
          transition: all 200ms linear;
        }
        &:hover{
          a{
            padding-left: 15px;
          }
        }
      }
    }
  }
  #main-menu{
    ul{
      padding: 0;
      margin: 40px 0 0;
      width: 100%;
      float: left;
      list-style-type:none;
      li{
        list-style:none;
        float: left;
        width: 25%;
        text-align: center;

        a{
          color: #1e1e1e;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-weight:300;
          font-size: 21px;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          position: relative;
          &:after {
            background: transparent none repeat scroll 0 0;
            bottom: -2px;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
            width: 0;
          }
          &:hover:after {
            width: 100%;
            background: #1e1e1e;
          }
          &.active{
            font-weight: 600;
            border-bottom:2px solid #1e1e1e;
          }
        }
      }
    }
  }
  section{
    padding: 40px 0;
    p{
      letter-spacing: 0.6px;
    }
    .text-background{
      color: #dfdfde;
      display: inline-block;
      font-family: "Yellowtail",sans-serif;
      font-size: 150px;
      transform: rotate(-10deg);
      z-index: -1;
      position: relative;
      &.univers{
        left: -165px;
        top: -40px;
        display: block;
      }
    }
    a{
      font-weight:600;
      text-decoration: underline;
      color: #1e1e1e;
      &:hover{
        text-decoration: none;
      }
    }
    .author-name{
      color: #1e1e1e;
      font-family: "Yellowtail", sans-serif ;
      font-size: 35px;
      letter-spacing:0.2px;
      display: inline-block;
      margin-right: 10px;
    }
    .author-job{
      font-family: "Poppins", sans-serif;
      font-weight:300;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .quote{
      font-family: "Poppins", sans-serif;
      letter-spacing: 0;
      font-weight: 700;
      font-size: 29px;
      line-height: 38px;
      position: relative;
      margin: 13px 0 60px;
      &:before{
        background: rgba(0, 0, 0, 0) url("../img/lemag/quote-start.png") repeat scroll 0 0 / 100% auto;
        content: "";
        height: 14px;
        left: -35px;
        position: absolute;
        width: 22px;
      }
      &:after{
        background: rgba(0, 0, 0, 0) url("../img/lemag/quote-end.png") repeat scroll 0 0 / 100% auto;
        bottom: 20px;
        content: "";
        height: 14px;
        margin-left: 12px;
        position: absolute;
        width: 22px;
      }
    }
    .share {
      border-top: 1px solid #dddddd;
      font-weight: 300;
      letter-spacing: 2px;
      margin-top: 45px;
      padding-top: 25px;
      text-transform: uppercase;
      span{
        font-size: 13px;
      }
      .author-name {
        font-size: 23px;
        line-height:26px;
        text-transform: none;
      }
      .social{
        float: right;
        margin: 0;
        padding: 0;
        li{
          display: inline-block;
          float: left;
          list-style: none;
          margin: 0 20px;
          max-width: 30px;
          overflow: hidden;
          text-align: right;
          transition: all 200ms linear;
          &:last-child{
            margin-right: 0;
          }
          a{
            padding: 0 5px;
            text-indent: 9999px;
            display: inline-block;
            width: 30px;
            height: 25px;
            background:url("../img/lemag/social-share.png");
            background-repeat:no-repeat;
            background-color: transparent;
            background-size: auto 100%;
            transition: all 200ms linear;
            text-decoration: none;
            &.facebook{
              background-position: 8px 1px;
            }
            &.twitter{
              background-position: -195px 0;
            }
            &.instagram{
              background-position: -60px 0;
            }
            &.pinterest{
              background-position: -125px 0;
            }

          }
          &:hover{

            &:hover{
              opacity:0.6;
              margin-top: -2px;
            }

          }
        }
      }
    }
    &.main-image{
      .content{
        background:#fff;
        padding: 20px 180px;
        margin-top: -131px;
        margin-bottom: 0;
        a{
          color: #1e1e1e;
          font-size: 16px;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight:300;
          letter-spacing:3px;
          &:hover{
            text-decoration: none;
          }
        }
        h1{
          font-size: 50px;
          font-weight: 600;
          line-height: 60px;
          letter-spacing: 0.8px;
          margin: 12px 0 20px;
        }
        span{
          color: #1e1e1e;
          font-size: 16px;
          text-transform: uppercase;
          font-weight:300;
          letter-spacing:3px;
        }
      }
    }
    &.intro{
      p{
        font-size: 20px;
        line-height:35px;
        font-weight:600;
      }
    }
    &.media{
      &.two-images{
        padding: 0;
        margin-top: 0;
        img{
          width: 46%;
          margin: 3%
        }
        img:nth-child(1){
          float: left;
          margin-right: 0;
        }
        img:nth-child(2){
          float: right;
          margin-top: 150px;
          margin-left: 0;
        }
      }
      &.fullwidth-image{
        img{
          width: 100%;
        }
      }
    }
    &.author{
      margin-top: 40px;
    }
    &.shop{
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #dadada;
      float: left;
      margin-bottom: 50px;
      padding-bottom: 140px;
      padding-top: 100px;
      width: 100%;
      .title{
        text-align: center;
        h2{
          margin-top: -40px;
          z-index:2;
          position: relative;
          span{
            color: #1e1e1e;
            display: inline-block;
            font-family: "Raleway",sans-serif;
            font-size: 24px;
            letter-spacing: 5px;
            margin-bottom: 30px;
            text-transform: uppercase;
            width: 100%;
          }
          em{
            display: block;
            font-family: "Poppins",sans-serif;
            font-size: 40px;
            line-height: 50px;
            font-style: normal;
            font-weight: 700;
            width: 100%;
          }
        }
      }

      .text-background{
        z-index:0;
        color: #f1f0f0;
      }
      ul{
        padding:0;
        margin: 0;
        width:100%;
        li.item{
          list-style:none;
          color: #1e1e1e;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight:600;
          a{
            text-decoration: none;
            transition: all 200ms linear;
            &:hover{
              opacity:0.7;
            }
          }
          .item-status {
            font-weight: 400;
            margin-top:-10px;
            .instock{
              color: #3fb34f;
            }
          }
          .item-title{
            margin: 0;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight:600;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) {
  #article{
    #main-menu{
      ul{
        li{
          a{
            font-size: 20px;
          }
        }
      }
    }
    section{
      &.main-image{
        .content{
          padding: 20px 110px;
          h1{
            font-size: 48px;
            line-height: 56px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  #article{
    #main-menu {
      ul {
        li {
          a{
            font-size: 19px;
          }
        }
      }
    }
    section{
      &.main-image{
        .content{
          margin-top: -111px;
          padding: 20px 70px;
          h1{
            font-size: 40px;
            line-height:48px;
          }
          span{
            font-size: 14px;
          }
        }
      }
      &.intro{
        p{
          font-size: 17px;
        }
      }
      &.shop{
        .title{
          h2{
            span{
              font-size: 20px;
              margin-bottom: 20px;
            }
            em{
              font-size: 30px;
            }
          }
        }
      }
      .text-background{
        font-size: 120px;
        &.univers {
          left: -135px;
          top: -20px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #article{
    #main-menu {
      ul {
        li {
          a{
            font-size: 14px;
          }
        }
      }
    }
    section{
      &.main-image{
        .content{
          padding: 20px 60px;
          h1{
            font-size: 31px;
            line-height: 40px;
            margin: 10px 0;
          }
          span{
            font-size: 13px;
          }
        }
      }
      &.intro{
        p{
          font-size: 16px;
        }
      }
      &.media{
        .two-images {
          img:nth-child(2){
            margin-top: 90px;
          }
        }
      }
      &.shop{
        .title{
          h2{
            span{
              font-size: 18px;
              margin-bottom: 15px;
            }
            em{
              font-size: 27px;
            }
          }
        }
      }
      &.author{
        margin-top: 20px;
      }
      .text-background{
        font-size: 100px;
        &.univers {
          left: -100px;
        }
      }
      .quote {
        font-size: 22px;
        line-height: 35px;
        margin: 10px 0 40px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    p{
      font-size: 14px;
      line-height:31px;
    }
    &#article {

      #header {
        .logo {
          background: transparent url("../img/lemag/le-mag-fly-logo.png") no-repeat scroll center center / 100% auto;
          height: 130px;
          margin: 20px auto;
          max-width: 420px;
          width: 100%;
        }
        .sub-top-bar {
          .link-back {
            text-align: center;
            span {
              margin-left: -10px;
              padding-left: 0;
            }
            a{
              padding-left: 10px;
            }
          }
        }
      }
      #main-menu {
        ul {
          li {
            margin-bottom: 10px;
            width: 50%;
            a {
              font-size: 15px;
            }
          }
        }
      }
      section {
        &.main-image {
          .content {
            margin-bottom: 0;
            padding: 20px 70px;
            a {
              font-size: 14px;
            }
            h1 {
              font-size: 25px;
              line-height:32px;
              margin-bottom: 10px;
            }
          }
        }
        &.intro {
          p{
            font-size: 15px;
            line-height: 30px;
          }
        }
        &.media {
          &.two-images {
            img {
              width: 94%;
              margin: 3%;
              &:nth-child(2){
                margin-top: 3%;
              }
            }
          }
        }
        &.shop {
          padding-top: 60px;
          .title {
            h2 {
              span {
                font-size: 16px;
                margin-bottom: 15px;
              }
              em {
                font-size: 21px;
              }
            }
          }
          .products-row{
            .item{
              text-align: center;
            }
          }
        }
        &.author {
          margin-top: 0;
          .author-name{
            width: 100%;
          }
        }
        .text-background {
          font-size: 100px;
          &.univers {
            left: 0;
            text-align: center;
          }
        }
        .share{
          .social{
            li{
              margin: 0 8px;
            }
          }
        }
        .quote {
          font-size: 20px;
          line-height: 33px;
          margin: 10px 0 40px;
          &:before{
            height: 11px;
            width: 17px;
            left: -21px;
          }
          &:after{
            height: 11px;
            width: 17px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 440px) {
  body{
    &#article {
      #main-menu{
        ul{
          li{
            width: 100%;
            a{
              font-size: 15px;
            }
          }
        }
      }
      section{
        &.main-image {
          .content {
            margin-top: -40px;
            padding: 20px 25px;
            h1 {
              font-size: 21px;
              line-height:27px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  body{
    &#article{
      #header {
        .logo {
          height: 80px;
        }
      }
      #main-menu {
        ul {
          margin-top: 20px;
          li {
            a {
              font-size: 13px;
            }
          }
        }
      }
      section{
        padding: 25px 0;
        &.main-image {
          .content {
            margin-top: -40px;
            padding: 10px 20px;
            a, span{
              font-size: 12px;
            }
            h1 {
              font-size: 18px;
              line-height:25px;
              margin: 5px 0;
            }
          }
        }
        &.intro{
          p{
            font-size: 14px;
            line-height: 27px;
          }
        }
        &.media{
          &.two-images{
            margin-top: 0;
            padding-top:10px;
          }
        }
        &.shop{
          .title{
            h2{
              margin-top: -30px;
            }
          }
        }
        .text-background{
          font-size: 80px;
        }
        .quote {
          font-size: 18px;
          line-height: 30px;
          margin: 10px 0 30px;
        }
        .share{
          div{
            text-align: center;
            width: 100%;
            margin: 0;
            .social{
              float: none;
              li{
                float: none;
                &:last-child{
                  margin: 0 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
