// $section Configuration Settings
// Adjust colors, font stacks, breakpoints and sizing.
//
// Typographic Scale
// (For math purposes. Actual font sizes in ems.)
// 1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
// line height: 1.5em on small screens, 1.5625em on big screens

// Grid Break point
$screen-xlg-min: 1366px;
$screen-fhd-min: 1920px;
$screen-rt-min: 2560px;
$screen-rt15-min: 2880px;
$screen-uhd-min: 3840px;
$screen-4k-min: 4096px;
$screen-8k-min: 8192px;
$container-large-desktop : 100%;
//$container-tablet : auto;
//$container-desktop : auto;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: 992px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

// Colors
$color-primary: #0088cc;
$color-black: #272727;
$color-white: #ffffff;

$color-info: #0088cc;
// Blue
$color-success: #377f31;
// Green
$color-danger: #880e14;
// Red
$red-fly: #eb212e;
// Red Fly
$color-warning: #dba909;
// Yellow
$color-code: #dd1144;

$color-gray-dark: #808080;
$color-gray-light: #e5e5e5;

// Font Stacks
$Poppins: 'Poppins', sans-serif;
$Raleway: 'Raleway', sans-serif;
$fontBase: $Poppins;


// Sizing
$font-size-base: 14px;
$font-size-xlarge-screens: 125%;
$spacing: 1.5625em;
$container-width: 88%;
$container-max-width: 80em;

// Icons Front
$icomoon-font-path: "../fonts" !default;

$icon-add: "\e910";
$icon-minus: "\e90a";
$icon-google: "\e916";
$icon-pinterest: "\e904";
$icon-youtube: "\e905";
$icon-twitter: "\e90f";
$icon-facebook: "\e913";
$icon-instagram: "\e903";
$icon-arrow-down-bold: "\e912";
$icon-arraw-left-light: "\e914";
$icon-star: "\e921";
$icon-heart: "\e922";
$icon-fax: "\e923";
$icon-trash: "\e924";
$icon-info: "\e925";
$icon-info-circle-path1: "\e926";
$icon-info-circle-path2: "\e927";
$icon-info-circle-path3: "\e928";
$icon-mail: "\e929";
$icon-users: "\e92a";
$icon-clock: "\e92c";
$icon-triman: "\e92d";
$icon-plus-light: "\e92e";
$icon-arrow-circle-path1: "\e900";
$icon-arrow-circle-path2: "\e901";
$icon-arrow-circle-path3: "\e902";
$icon-14: "\e906";
$icon-box: "\e907";
$icon-lock: "\e908";
$icon-call: "\e909";
$icon-arrow-right-bold: "\e90b";
$icon-arrow-left-light: "\e90c";
$icon-arrow-right-light: "\e90d";
$icon-bag: "\e90e";
$icon-heart-empty: "\e911";
$icon-location: "\e915";
$icon-plus-black-cricle-path1: "\e918";
$icon-plus-black-cricle-path2: "\e919";
$icon-plus-black-cricle-path3: "\e91a";
$icon-plus-white-cricle-path1: "\e91b";
$icon-plus-white-cricle-path2: "\e91c";
$icon-plus-white-cricle-path3: "\e91d";
$icon-search: "\e91e";
$icon-user: "\e920";

