/* ------------------ */
/* == Global          */
/* ------------------ */

html {
  font-size: 14px;
  box-sizing: border-box;
  //-ms-zoom: 0.9;
  //zoom: 0.9;
  //@media (max-width: $screen-md-min) {
  //  -ms-zoom: 0.9;
  //  zoom: 0.9;
  //}
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: $color-white;
  font-family: $fontBase;
  @include font-size(14px);
  color: $color-black;
  max-width: 100%;
  min-height: 100%;
  min-width: 320px;
  padding-bottom: 0;
  position: absolute;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(218, 218, 218, 1);
  -moz-box-shadow: 0px 0px 10px 10px rgba(218, 218, 218, 1);
  box-shadow: 0px 0px 10px 10px rgba(218, 218, 218, 1);
  &.modal-open{
    padding: 0 !important;
  }
  @media (max-width: $screen-md-min) {
    @include font-size(12px);
  }
}

p {
  @include font-size(12px);
  line-height: 20px;
  margin-bottom: 0;
}

a {
  color: $color-black;
  line-height: 12px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $color-black;
    outline: none !important;
  }
}

b, strong {
  font-weight: bold;
}

ol, ul {
  margin: 0;
  list-style: none;
  padding-left: 1em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 0;
  margin-top: 0;
}

a, a:hover, a:active, a:focus, object, embed {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}
.no-style{
  background: none;
  border: none;
  padding: 0;
}
.underline {
  border-bottom: 1px solid #1e1e1e;
}

.red{
  color: $red-fly !important;
}

.green{
  color: #3fb34f !important;
}
.popover{
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 7px rgba(30, 30, 30, 0.05);
  padding: 16px;
   &.left {
     border-left-color: rgba(0, 0, 0, 0.06);
     > .arrow{
       border-left-color: rgba(0, 0, 0, 0.15);
       right: -10px;
       &:after{

       }
     }
   }
  .popover-title{
    background: none;
    border: none;
    border-radius: inherit;
    text-align: center;
    color: #1e1e1e;
    font-family: $Poppins;
    @include font-size(13px);
    font-weight: 700;
    i.icon-box{
      font-size: 1.1em;
      font-weight: 600;
    }
  }
  .popover-content{
    color: #1e1e1e;
    font-family: $Raleway;
    @include font-size(13px);
    ul{
      padding: 0;
      li{
        text-align: center;
      }
    }
    strong{
      font-weight: 700;
    }
    .item-inner {
      margin: -2rem -1rem 0;
      .item-img {
        height: 180px;
        position: relative;
        overflow: hidden;
        margin-bottom: 0.5rem;
        .add-wishlist {
          position: absolute;
          z-index: 2;
          right: 0.5em;
          top: 1.1em;
          display: none;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          .link-wishlist {
            &.active, &:hover {
              .icon-heart-empty {
                color: $red-fly;
                &:before {
                  content: $icon-heart;
                }
              }
            }
          }
        }

        .price-off {
          position: absolute;
          z-index: 2;
          left: 0.5em;
          top: 0.5em;
          .price-off {
            width: 30px;
            height: 30px;
            background-color: $red-fly;
            color: #fff;
            font-family: $Poppins;
            @include font-size(10px);
            font-weight: 500;
            border-radius: 100%;
            overflow: hidden;
            line-height: 30px;
            text-align: center;
          }
        }

        .item-img-info {
          height: 100%;
          width: 100%;
          vertical-align: middle;
          .img-responsive {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            max-width: 100%;
          }
        }
      }

      .item-info {

        .info-inner {

          .item-title {
            font-size: 1rem;
            font-weight: 600;
            color: #1e1e1e;
            font-family: $Poppins;
          }

          .item-content {
            .item-price {
              float: left;
              margin-right: 1em;
              .price-box {
                @include font-size(15px);
                .sale-price {

                  .price {
                    font-weight: 600;
                    font-family: $Poppins;
                  }
                }

                .regular-price {

                  .price {
                    @include font-size(15px);
                    font-weight: 400;
                    text-decoration: line-through;
                    font-family: $Poppins;
                  }
                }
              }
            }

            .item-status {
              float: right;
              span {
                display: block;
                color: #1e1e1e;
                font-family: $Raleway;
                font-size: 0.813rem;
                font-weight: 700;
                text-align: right;
                &.shipping-info {
                  color: #1e1e1e;
                }

                &.available {
                  color: #3fb34f;
                }

                &.outofstock {
                  color: $red-fly;
                }
              }

            }
          }
          &:first-child {
            .item-colors {
              margin-bottom: 0.5rem;
              max-height: 6rem;
              overflow: hidden;
              font-family: $Raleway;
              font-size: 0.813rem;
              font-weight: 700;
            }
          }
        }
      }
    }

  }

  .popover-cvv{
    text-align: center;
    margin: -22px -16px 0px;
    strong{
      display: block;
    }
     img{
       margin-bottom: 0.5rem;
     }
  }
}
.first{
  padding-left: 0;
}
.last{
  padding-right: 0;
}
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item {
    &.next, &.active.right, &.prev, &.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &.next.left, &.prev.right, &.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}


.no-margin{
  margin: 0;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.g-recaptcha-bubble-arrow{
  display: none;
}

@media (max-width: $screen-md-min) {
  .zoomContainer {
    display: none !important;
  }
}

.container {
  @media (min-width: $screen-md-min) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    width: 94%;
  }
  @media (min-width: $screen-lg-min) {
    width: 100%;
    max-width: 1440px;
  }
}