
#loader {
  display: table;
  margin: 0 auto;
  clear: both;
  ul {
    position: relative;
    margin: 20px;
    li {
      list-style-type: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 7px;
      height: 7px;
      background: #eb212e;
      border-radius: 50%;
      &#a {
        animation: a 1s ease-in-out infinite;
        top: -14px;
        left: -14px;
      }

      &#b {
        animation: b 1s ease-in-out infinite;
        top: -14px;
        left: 0px;
      }

      &#c {
        animation: c 1s ease-in-out infinite;
        top: -14px;
        left: 14px;
      }

      &#d {
        animation: d 1s ease-in-out infinite;
        top: 0px;
        left: -14px;
      }

      &#e {
        animation: e 1s ease-in-out infinite;
        top: 0px;
        left: 0px;
      }

      &#f {
        animation: f 1s ease-in-out infinite;
        top: 0px;
        left: 14px;
      }

      &#g {
        animation: g 1s ease-in-out infinite;
        top: 14px;
        left: -14px;
      }

      &#h {
        animation: h 1s ease-in-out infinite;
        top: 14px;
        left: 0px;
      }

      &#i {
        animation: i 1s ease-in-out infinite;
        top: 14px;
        left: 14px;
      }
    }

  }
}

.load-more{
  background-color: #48c1c1;
  border-radius: 4px;
  display: table;
  margin: 2rem auto;
  clear: both;
  padding: 0.4rem 1.5rem;
  cursor: pointer;
  span{
    color: white;
    font-family: $Raleway;
    font-size: 1.031rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@keyframes a {
  50% {
    top: 0px;
    left: -14px;
  }

  100% {
    top: 0px;
    left: -14px;
  }
}

@keyframes b {
  50% {
    top: -14px;
    left: -14px;
  }

  100% {
    top: -14px;
    left: -14px;
  }
}

@keyframes c {
  50% {
    top: -14px;
    left: 0px;
  }

  100% {
    top: -14px;
    left: 0px;
  }
}

@keyframes d {
  50% {
    top: 14px;
    left: -14px;
  }

  100% {
    top: 14px;
    left: -14px;
  }
}

@keyframes f {
  50% {
    top: -14px;
    left: 14px;
  }

  100% {
    top: -14px;
    left: 14px;
  }
}

@keyframes g {
  50% {
    top: 14px;
    left: 0px;
  }

  100% {
    top: 14px;
    left: 0px;
  }
}

@keyframes h {
  50% {
    top: 14px;
    left: 14px;
  }

  100% {
    top: 14px;
    left: 14px;
  }
}

@keyframes i {
  50% {
    top: 0px;
    left: 14px;
  }

  100% {
    top: 0px;
    left: 14px;
  }
}