
.our-features-box {
  background: #fff;
  border-top: 1px solid #ededed;
  padding: 4em 0 2em;
  margin-top: 2em;
  @media (max-width: $screen-md-min) {
    padding: 0;
  }
  .container {

    .feature-box {
      color: #1e1e1e;
      font-family: $Raleway;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 2em;
      @media (max-width: $screen-md-min) {
        padding: 3em 0;
        margin-bottom: 0;
        border-bottom: 1px solid #ededed;
        border-left: 1px solid #ededed;
        &:nth-child(2n) {
          border-right: 1px solid #ededed;
        }
      }
      i {
        font-size: 2rem;
        font-style: normal;
        min-height: 1.5em;
        display: block;
        font-weight: 400;
      }
      span {
        font-weight: 500;
        display: block;
      }
      strong {
        font-weight: 700;
        display: block;
      }
    }
  }
}

.footer {
  background-color: #1e1e1e;
  color: #fff;
  font-family: $Poppins;
  font-size: 1rem;
  .footer-wrapper {
    background: url(../img/logo_footer.png) right bottom no-repeat;
    @include hdpi {
      background-image: url(../img/logo_footer@2x.png);
      background-size: auto 28%;
    }
    @media (max-width: $screen-md-min) {
      padding-bottom: 11%;
      background-size: 10%;
      background-position: center 98%;
    }
    @media (max-width: $screen-sm-min) {
      margin: 0 15px;
    }
    .footer-top {
      padding: 2.5em 0;
      border-bottom: 1px solid #dadada;
      .newsletter {

        .input-label {
          font-weight: 600;
          line-height: 1.5em;
          float: left;
          max-width: 260px;
          @media (max-width: $screen-md-min) {
            max-width: 100%;
            clear: both;
            text-align: center;
            display: table;
            width: 100%;

          }

        }

        .input-group {
          border: 1px solid #f5f5f5;
          overflow: hidden;
          border-collapse: separate;
          @media (max-width: $screen-md-min) {
            float: none;
            margin: 1em auto;
            width: 100%;
            background: #f5f5f5;
          }
          .form-control {
            background-color: #f5f5f5;
            color: #1e1e1e;
            font-size: 1rem;
            height: 3.1rem;
            border-radius: 0;
            max-width: 190px;
            float: left;
            border: none;
            @media (max-width: $screen-md-min) {
              max-width: 100%;
              padding-right: 50px;
              margin-right: -50px;
            }

            &:hover,
            &:focus,
            &:active {
              color: $color-black;
              border-color: transparent;
              box-shadow: none;
            }
          }

          .input-group-btn {
            border: none;
            border-radius: 0;
            float: left;
            width: auto;
            .btn {
              background-color: #1e1e1e;
              color: #f5f5f5;
              border-radius: 0;
              border: none;
              height: 3.1rem;
              line-height: inherit;
              padding: 0 1rem;
              @media (max-width: $screen-md-min) {
                z-index: 2;
                width: 51px;
              }
              &:hover,
              &:focus,
              &:active {
                color: #f5f5f5;
                outline: none;
              }
            }
          }
        }

      }

      .social {
        float: right;
        margin: 0.4em 3em;
        width: auto;
        @media (max-width: $screen-md-min) {
          display: table;
          margin: 0;
          width: 100%;
        }
        .links {
          @media (max-width: $screen-md-min) {
            padding: 0;
          }
          li {
            background-color: #fff;
            display: inline-block;
            border-radius: 100%;
            width: 3em;
            height: 3em;
            text-align: center;
            vertical-align: middle;
            line-height: 0.8em;
            margin-right: 0.8rem;
            @media (max-width: $screen-md-min) {
              margin-right: 10%;
              &:last-child {
                margin-right: 0;
              }
            }

            .icon-twitter, .icon-pinterest, .icon-instagram, .icon-facebook {
              &:before {
                font-size: 1.5em;
                line-height: 2em;
                padding: 0;
              }

            }

            &:hover {
              background-color: $red-fly;
              .icon-twitter, .icon-pinterest, .icon-instagram, .icon-facebook {
                &:before {
                  color: #fff;
                }

              }
            }
          }

        }
      }

      .scroll-top-wrapper {
        float: right;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        text-align: center;
        cursor: pointer;
        @media (max-width: $screen-md-min) {
          display: none;
        }
        .scroll-top-inner {

          .icon-arrow-up {
            line-height: 1.1em;
            @include font-size(32px);
          }
        }
      }
    }

    .footer-middle {
      padding: 2.5em 0;
      @media (max-width: $screen-md-min) {
        border-bottom: 1px solid #dadada;
      }
      .footer-column {
        h4 {
          font-family: $Poppins;
          display: table;
          border-bottom: 1px solid #fff;
          clear: both;
          @include font-size(17px);
          font-weight: 600;
          margin-bottom: 1em;
        }
        .links {
          padding: 0;
          li {
            margin-bottom: .5em;
            a {
              color: #fff;
              font-family: $Raleway;
              transition: color 0.25s ease-in-out;
              &:hover {
                color: $red-fly;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      padding: 1.5em 0;
      .coppyright {
        color: #dadada;
        font-family: $Raleway;
        @include font-size(13px);
        font-weight: 500;
        @media (max-width: $screen-md-min) {
          text-align: center;
        }
      }
    }
  }
}