.lookbook-container {

  .container {

    .style-design {
      border-bottom: 1px solid #dadada;
      &:last-child {
        border-bottom: none;
      }
      .style-title {
        text-align: center;
        margin: 2rem 0;
        h1 {
          color: #1e1e1e;
          font-family: $Poppins;
          font-weight: 400;
          line-height: 3.75rem;
          font-size: 3.75rem;
          .small {
            font-size: 1.875rem;
            display: block;
            color: #1e1e1e;
          }
        }
      }

      .style-visuel {
        text-align: center;
        margin-bottom: 4rem;
        img {
          width: 100%;
        }
      }

      .style-products {

        .category-products {

          .products-grid {

            .products-row {

              .item {
                &:before {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
}