@media (min-width: $screen-md) {
  .mega-dropdown {
    position: static !important;
  }
  .dropdown-menu {
    display: block;
    height: 0;

    padding: 0 !important;
    -moz-transition:     all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    -webkit-transition:   all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    -o-transition:        all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    -ms-transition:      all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transition:          all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    > li {
      height: 0;
      opacity: 0;
      -moz-transition:     all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      -webkit-transition:   all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      -o-transition:        all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      -ms-transition:       all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      transition:           all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      overflow: hidden;
    }
    .open > &{
      padding: 20px 0 !important;
      height: auto;

      > li {
        height: auto;
        opacity: 1;
      }
    }
  }
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #f9f9f9;
    border: transparent;
    border-radius: 0;
    font-family: $Raleway;
    @include font-size(13px);
    font-weight: 500;
    line-height: calc-em(21px);
    color: #1e1e1e;
    &:before {
      content: "";
      background-color: #f9f9f9;
      position: absolute;
      width: 10000%;
      height: 100%;
      top: 0;
      left: -1000%;
      display: block;
      border: 1px solid #dadada;
    }
    > li {
      margin-bottom: 1em;
      > div {
        padding-left: 2.5em;
      }
      ul {
        margin: 0;
        padding: 0;
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        > li {
          list-style: none;
          padding: 0.3em 0 0.3em 1.3em;
          &:before {
            @include font-icon();
            content: $icon-arrow-right-bold;
            color: #e00024;
            position: absolute;
            margin-left: -1.8em;
            @include font-size(10px);
            font-weight: 900;
            line-height: 1.4em;
          }
          &.dropdown-header {
            padding-left: 0;
            &:before {
              content: none;
            }
          }
          > a {
            display: block;
            clear: both;
            line-height: 1.1em;
            color: #1e1e1e;
            white-space: normal;
          }
        }
      }
      ul > li > a {
        transition: color 0.15s ease-in-out;
        &:hover, &:focus {
          text-decoration: none;
          color: #e00024;
        }
      }
    }
    .dropdown-header {
      font-family: $Poppins;
      font-size: 1rem;
      font-weight: 700;
      line-height: 21px;
      padding: 0 0 10px;
      color: #1e1e1e;
      .mylink {
        color: #e00024;
      }
    }
    .col-md-3 {
      @media (min-width: $screen-xl-min) {
        width: 21%;
        &:last-child {
          min-width: 37%;
        }
      }

    }
    form {
      margin: 3px 20px;
    }
    .form-group {
      margin-bottom: 3px;
    }
  }
}

@media (max-width: $screen-md-min) {
  .navmenu,
  .navbar-offcanvas {
    width: $navmenu-width;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-base;
  }

  .navmenu-fixed-left,
  .navmenu-fixed-right,
  .navbar-offcanvas {
    position: fixed;
    z-index: $zindex-navmenu-fixed;
    top: 0;
    border-radius: 0;
  }
  .navmenu-fixed-left,
  .navbar-offcanvas.navmenu-fixed-left {
    left: -$navmenu-width;
    right: auto;
    border-width: 0 1px 0 0;
    bottom: 0;
    overflow-y: auto;
    background: linear-gradient(to left, #e7e7e7 0, #f9f9f9 7px, #f9f9f9 100%);
  }
  .navmenu-fixed-right,
  .navbar-offcanvas {
    left: auto;
    right: -$navmenu-width;
    border-width: 0 0 0 1px;
    background: linear-gradient(to right, #e7e7e7 0, #f9f9f9 7px, #f9f9f9 100%);
    overflow-y: auto;
  }

  .navmenu-nav {
    margin-bottom: $navmenu-margin-vertical;

    &.dropdown-menu {
      position: static;
      margin: 0;
      padding-top: 0;
      float: none;
      border: none;
      @include box-shadow(none);
      border-radius: 0;
      .collapse {
        display: none;
        visibility: hidden;
      }
    }
  }

  #navbar-default {

    > .collapse {
      display: block;
      visibility: visible;
    }
    .hidden-mobile {
      display: none;
    }
    .mega-dropdown-menu {
      border-top: 1px solid #d3d3d3;
      padding: 0;
      .dropdown-header {
        color: #1e1e1e;
        font-family: $Poppins;
        @include font-size(14px);
        font-weight: 600;
        padding: 1.1rem 0.5rem;
        margin: 0 0 0 1.4em;
        border-bottom: 1px solid #d3d3d3;
        &:after {
          @include font-icon();
          content: $icon-arrow-right-bold;

          color: #e00024;
          position: absolute;
          margin-left: -1.8em;
          @include font-size(10px);
          font-weight: 900;
          right: 3em;
          top: 2em;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        &.collapsed {
          &:after {
            -webkit-transform: none;
            -moz-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
            color: #1e1e1e;
          }

        }
      }
      ul {
        padding: 0;
        li {
          padding: 0.9rem 0.5rem;
          margin: 0 0 0 1.4em;
          @include font-size(14px);
          border-bottom: 1px solid #d3d3d3;
        }
      }
    }

  }

  .navbar-offcanvas {
    .navbar-nav {
      margin: 0;
    }

    @media (min-width: $grid-float-breakpoint) {
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.offcanvas {
        position: static;
        display: block !important;
        height: auto !important;
        padding-bottom: 0; // Override default setting
        overflow: visible !important;
      }

      // Account for first and last children spacing
      .navbar-nav.navbar-left:first-child {
        margin-left: -$navbar-padding-horizontal;
      }
      .navbar-nav.navbar-right:last-child {
        margin-right: -$navbar-padding-horizontal;
      }

      .navmenu-brand {
        display: none;
      }
    }
  }

  // Brand/project name

  .navmenu-brand {
    display: block;
    font-size: $font-size-large;
    line-height: $line-height-computed;
    padding: $nav-link-padding;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    margin: $navmenu-margin-vertical 0;
  }

  // Alternate navmenus
  // --------------------------------------------------

  // Default navmenu
  .navmenu-default,
  .navbar-default .navbar-offcanvas {
    background-color: $navmenu-default-bg;
    border-color: $navmenu-default-border;

    .navmenu-brand {
      color: $navmenu-default-brand-color;
      &:hover,
      &:focus {
        color: $navmenu-default-brand-hover-color;
        background-color: $navmenu-default-brand-hover-bg;
      }
    }

    .navmenu-text {
      color: $navmenu-default-color;
    }

    .navmenu-nav {
      // Caret should match text color on hover
      > .dropdown > a:hover .caret,
      > .dropdown > a:focus .caret {
        border-top-color: $navmenu-default-link-hover-color;
        border-bottom-color: $navmenu-default-link-hover-color;
      }

      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $navmenu-default-link-active-bg;
          color: $navmenu-default-link-active-color;
          .caret {
            border-top-color: $navmenu-default-link-active-color;
            border-bottom-color: $navmenu-default-link-active-color;
          }
        }
      }
      > .dropdown > a .caret {
        border-top-color: $navmenu-default-link-color;
        border-bottom-color: $navmenu-default-link-color;
      }
      &.dropdown-menu {
        background-color: $navmenu-default-link-active-bg;
        & > .divider {
          background-color: $navmenu-default-bg;
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            background-color: darken($navmenu-default-link-active-bg, 6.5%);
          }
        }
      }

      > li > a {
        color: $navmenu-default-link-color;
        &:hover,
        &:focus {
          color: $navmenu-default-link-hover-color;
          background-color: $navmenu-default-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navmenu-default-link-active-color;
          background-color: $navmenu-default-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navmenu-default-link-disabled-color;
          background-color: $navmenu-default-link-disabled-bg;
        }
      }
    }
  }

  // Inverse navmenu
  .navmenu-inverse,
  .navbar-inverse .navbar-offcanvas {
    background-color: $navmenu-inverse-bg;
    border-color: $navmenu-inverse-border;

    .navmenu-brand {
      color: $navmenu-inverse-brand-color;
      &:hover,
      &:focus {
        color: $navmenu-inverse-brand-hover-color;
        background-color: $navmenu-inverse-brand-hover-bg;
      }
    }

    .navmenu-text {
      color: $navmenu-inverse-color;
    }

    .navmenu-nav {
      // Caret should match text color on hover
      > .dropdown > a:hover .caret,
      > .dropdown > a:focus .caret {
        border-top-color: $navmenu-inverse-link-hover-color;
        border-bottom-color: $navmenu-inverse-link-hover-color;
      }

      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $navmenu-inverse-link-active-bg;
          color: $navmenu-inverse-link-active-color;
          .caret {
            border-top-color: $navmenu-inverse-link-active-color;
            border-bottom-color: $navmenu-inverse-link-active-color;
          }
        }
      }
      > .dropdown > a .caret {
        border-top-color: $navmenu-inverse-link-color;
        border-bottom-color: $navmenu-inverse-link-color;
      }
      &.dropdown-menu {
        background-color: $navmenu-inverse-link-active-bg;
        & > .divider {
          background-color: $navmenu-inverse-bg;
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            background-color: darken($navmenu-inverse-link-active-bg, 6.5%);
          }
        }
      }

      > li > a {
        color: $navmenu-inverse-link-color;
        &:hover,
        &:focus {
          color: $navmenu-inverse-link-hover-color;
          background-color: $navmenu-inverse-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navmenu-inverse-link-active-color;
          background-color: $navmenu-inverse-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navmenu-inverse-link-disabled-color;
          background-color: $navmenu-inverse-link-disabled-bg;
        }
      }
    }
  }
}
