.sidebar {
  margin-top: 1rem;
  .side-nav-categories {
    border: 1px solid #dadada;
    padding: 2.3em 2.3em 1.5em;
    .block-title {
      font-family: $Poppins;
      @include font-size(30px);
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 1em;
    }

    .box-content {
      font-size: 1rem;
      .category-menu {
        list-style: none;
        padding-left: 0;
        li {
          padding: 0 0 1em 0;
          &:last-child {
            padding-bottom: 0;
          }

          &.active {
            padding-left: 1em;
            font-weight: 700;
            @media (min-width: $screen-md-min) {
              &:before {
                @include font-icon();
                content: $icon-arrow-right-bold;
                color: #e00024;
                position: absolute;
                margin-left: -1.8em;
                @include font-size(10px);
                font-weight: 900;
                line-height: 2em;
              }
            }

          }
        }
      }
    }

    @media (max-width: $screen-md-min) {
      position: relative;
      padding: 0 1.5em 0 0;
      min-width: 236px;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #dadada;
      border-radius: 2px;
      cursor: pointer;
      .block-title {
        padding: 0.5em 1em;
        display: block;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
        margin-bottom: 0;
        @include font-size(22px);
        &:before {
          @include font-icon();
          content: $icon-arrow-right-bold;
          color: #1e1e1e;
          position: absolute;
          margin-left: -1.8em;
          @include font-size(10px);
          font-weight: 900;
          line-height: 4.4em;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          right: 1.5em;
          top: 0.5em;
        }
      }
      ul.category-menu {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #dadada;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        z-index: 999;
        box-shadow: none;
        border-radius: 0;
        &.in {
          display: block;
        }

        li {
          padding: 0.6em 0.8em !important;
          text-align: left;
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
          color: #1e1e1e;
          &:first-child {
            border-top: 1px solid #dadada;
          }
          ul {
            display: none;
          }
          a {
            padding: 3px 12px;
          }
          &:hover, &.selected, &.active {
            background-color: #1e1e1e;
            a {
              background-color: transparent;
              color: white;
            }
          }
        }
      }
    }
  }

  .display-product-option.rendered {
    display: none;
  }
  @media (max-width: $screen-md-min) {
    .show-filter-mobile {
      display: block;
      float: right;
      padding: 0.5em 0;
      font-size: 1.5rem;
    }
    .catalog-results-count {
      display: none;
    }
    .display-product-option.rendered {
      display: table;
      width: 100%;
    }
  }
  .block {
    padding: 0 2.3em;
    border-bottom: 1px solid #dadada;
    position: relative;
    @media (min-width: $screen-md-min) {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }

    &.filter-submit {
      border-bottom: 1px solid #dadada;
      padding: 0.5em 0;
      text-align: center;
      display: table;
      width: 100%;
      .btn {
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
    .block-title {
      color: #1e1e1e;
      font-family: $Poppins;
      @include font-size(20px);
      font-weight: 600;
      line-height: 1.1em;
      padding: 1.5em 0;
      .menu-ico-collapse {
        position: absolute;
        right: 1em;
        .chevron-down {
          &:before {
            @include font-icon();
            content: $icon-arrow-down-bold;
            font-style: normal;
            color: #adadad;
            font-size: 0.8rem;
            line-height: 1.1em;
            font-weight: 100;
          }
        }
      }
      .collapsed {
        .chevron-down {
          &:before {
            content: $icon-arrow-right-bold;
            font-style: normal;
            color: #adadad;
            font-size: 1rem;
          }
        }
      }
    }

    .block-content {

      ul {
        padding-left: 0;
        padding-bottom: 0.5em;

        .checkbox {
          margin-top: 0;
          .css-checkbox {

          }

          .css-label {
            span {
              font-size: 1rem;
              font-family: $Raleway;
              font-weight: 500;
              .count {
                color: #adadad;
                @include font-size(13px);
                font-style: normal;
              }
            }

          }
        }
      }
    }
  }

  .block-filter {
    @media (max-width: $screen-md-min) {
      display: none;
      &.in {
        display: block;
      }
    }
  }
}

.colors-filter {
  margin: 0 -0.8em;
  li {
    display: inline-block;
  }
  .color-label {
    padding: 2px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 100%;
    height: 56px;
    &.active {
      border-color: #1e1e1e;
    }
  }
  .color {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 0.5px solid #dadada;
    border-radius: 25px;
    overflow: hidden;
    &.other {
      background-image: linear-gradient(45deg, #fff 0%, #fff 40%, #dbd8d8 50%, #fefefe 60%, #fefefe 100%);
    }
    &.white {
      background-color: #fff;
    }
    &.blue {
      background-color: #70cdef;
    }
    &.brun {
      background-color: #81654a;
    }
    &.gris {
      background-color: #e0dfdf;
    }
    &.yellow {
      background-color: #f3d717;
    }
    &.mixed {
      background-image: linear-gradient(45deg, #ae1c8d 0%, #de4074 30%, #f97e53 60%);
    }
    &.black {
      background-color: #000;
    }
    &.orange {
      background-color: #f7745a;
    }
    &.pink {
      background-color: #e1477e;
    }
    &.red {
      background-color: #ec0c41;
    }
    &.green {
      background-color: #1a6737;
    }
    &.violet {
      background-color: #8e1694;
    }
  }
}


