.store-locator-container {

  .header-title {
    text-align: center;
    padding: 2rem 0 3rem;
    border-bottom: 1px solid #dadada;
    @media (max-width: $screen-md-min) {
      padding: 1rem 0 2rem;
    }
    h1 {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 3.75rem;
      font-weight: 400;
    }

    strong {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 400;
    }
  }

  .map-wrapper {

    .map-search {
      padding: 1rem 0;
      border-bottom: 1px solid #dadada;
      display: table;
      width: 100%;
      table {
        margin: 0 auto;
        @media (max-width: $screen-md-min) {
          width: 100%;
        }
        tbody {

          tr {

            @media (min-width: $screen-md-min) {
              &:first-child {
                display: none;
                td {
                  text-align: center;
                }
              }
            }

            td {
              padding: 0.5rem;
              @media (max-width: $screen-md-min) {
                &:first-child {
                  display: none;
                }
              }

              .btn-fly {
                line-height: inherit;
                @media (max-width: $screen-md-min) {
                  padding: 1rem 0.5rem;
                  width: 100%;
                  line-height: 1em;
                }
                .icon-location {

                }
              }
              #custom-search-input {
                max-width: 180px;
                @media (max-width: $screen-md-min) {
                  max-width: inherit;
                }
                .input-group {

                  .form-control {
                    border-color: #1e1e1e;
                    font-size: 1rem;
                    border-radius: 1px 0 0 1px;
                  }

                  .input-group-btn {

                    .btn {
                      background-color: #1e1e1e;
                      transition: background-color 0.2s ease-in-out;
                      border-radius: 0 1px 1px 0;
                      height: 46px;
                      .icon-search {
                        color: #fff;
                      }
                      &:hover {
                        background-color: $red-fly;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .details-control {
        padding: 1rem 3rem;
        @media (max-width: $screen-md-min) {
          padding: 0 1rem;
        }
        .more-store {
          line-height: inherit;
          font-family: $Raleway;
          font-size: 0.813rem;
        }
        .back {
          line-height: 2.5rem;
        }
      }

    }

    .map-container {
      position: relative;
      margin-bottom: -2em;
      #sl-map-container-stores {
        height: 610px;
        background-color: whitesmoke;
        width: 100%;
        @media (max-width: $screen-md-min) {
          height: 310px;
        }
      }

      .stores-results {
        background-color: white;
        border: 1px solid #dadada;
        box-shadow: 0 0 0.219rem rgba(30, 30, 30, 0.05);
        width: 100%;
        height: 84%;
        max-width: 324px;
        position: absolute;
        top: 8%;
        left: 3rem;
        @media (max-width: $screen-md-min) {
          max-width: inherit;
          position: relative;
          top: 0;
          left: 0;
          border: none;
          margin-bottom: 2rem;
        }
        .title {
          text-align: center;
          padding: 1rem;
          background-color: whitesmoke;
          border-bottom: 1px solid #dadada;
          h3 {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 1.25rem;
            font-weight: 600;
          }
        }

        .results {
          padding: 0;
          .store {
            color: #1e1e1e;
            padding: 2rem 1rem;
            border-bottom: 1px solid #dadada;
            strong {
              font-family: $Poppins;
              font-size: 1rem;
              font-weight: 600;
            }

            span, a {
              font-family: $Raleway;
              font-size: 0.813rem;
              font-weight: 500;
            }
            a {
              float: right;
            }
          }
        }
      }
    }

    .stores-details {
      background-color: white;
      border: 1px solid #dadada;
      position: absolute;
      left: 3rem;
      top: 8%;
      height: 84%;
      width: 100%;
      max-width: 42rem;
      padding: 2rem 0;
      @media (max-width: $screen-md-min) {
        max-width: inherit;
        position: relative;
        top: 0;
        left: 0;
        border: none;
        margin-bottom: 2rem;
      }
      .store-address {
        line-height: 3em;
        .name {
          font-family: $Poppins;
          font-size: 1rem;
          font-weight: 600;
        }
        address {
          font-family: $Raleway;
          font-size: 0.813rem;
          font-weight: 500;
          line-height: 2em;
        }
      }

      .store-fav {
        text-align: right;
        font-family: $Raleway;
        font-size: 0.813rem;
        font-weight: 500;
        line-height: 2.50em;
        padding-top: 0.50rem;
        .add-to-fav {
          display: block;
          line-height: 1rem;
          .icon-heart-empty {
            font-size: 1.25rem;
            position: relative;
            bottom: -0.15rem;

          }
        }

        .underline {

        }
      }

      .tab {
        border-top: 1px solid #dadada;

        width: 100%;
        display: table;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          width: 50%;
          float: left;
          a {
            width: 100%;
            display: table;
            font-family: $Raleway;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem 0;
            background-color: whitesmoke;
            position: relative;

          }
          &.active {
          a{
            background-color: white;
            &:before{
              content: "";
              position: absolute;
              bottom: -15px;
              left: 50%;
              margin-left: -14px;
              border-style: solid;
              border-width: 15px 15px 0;
              border-color: #dadada transparent;
              display: block;
              width: 0;
              z-index: 0;
            }
            &:after{
              content: "";
              position: absolute;
              bottom: -14px;
              left: 50%;
              margin-left: -14px;
              border-style: solid;
              border-width: 15px 15px 0;
              border-color: #FFFFFF transparent;
              display: block;
              width: 0;
              z-index: 1;
            }
          }
          }
        }

      }

      .address-details {
        border-top: 1px solid #dadada;
        padding-top: 2rem;
        .tab-content {
          @media (max-width: $screen-md-min) {
            display: table;
            width: 100%;
          }
          .tab-pane {
            strong{
              display: block;
              margin-bottom: 0.5rem;
              color: #1e1e1e;
              font-family: $Poppins;
              font-size: 0.813rem;
              font-weight: 600;
            }
            a{
              color: #1e1e1e;
              font-family: $Raleway;
              font-size: 0.813rem;
              font-weight: 500;
            }
            .icon-call {

            }
            .icon-fax {

            }

            .icon-mail {

            }

            .store-open-times {
              display: table;
              width: 100%;
              margin-top: 0.5rem;
              .open-times-title {
                margin: 0.5rem 0 0;
              }

              .time-table {
                padding-left: 0;
                font-family: $Raleway;
                font-size: 0.813rem;
                line-height: 1.563rem;
                font-weight: 500;
                tr{
                  td{
                    &:first-child{
                      padding: 0 0.5rem 0 0;
                    }
                  }
                }
                .today {
                  font-weight: 700;
                }
              }
            }

            .store-open-times {

              @media (max-width: $screen-md-min) {
                max-width: inherit;
                position: relative;
                top: 0;
                left: 0;
              }
              .open-times-title {

              }

              .time-table {

              }
            }
          }
        }
      }
    }
  }

}