@@include('_templates/_header.html')
<!-- BEGIN breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="/" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <strong>Shop the look     </strong>
                    </li>
                </ul>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>

<div class="lookbook-container">
    <div class="container">
        <section class="style-design">
            <div class="style-title">
                <h1> <span class="small">Shop the look</span>Ambiance graphique</h1>
            </div>
            <div class="style-visuel">
                <img src="/img/lookbook/01.jpg" alt="">
            </div>
            <div class="style-products">
                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/magic.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>

                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/smarty.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/plaid.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/stypy.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>

                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/woodrow.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/krik.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="style-design">
            <div class="style-title">
                <h1> Ambiance cosy</h1>
            </div>
            <div class="style-visuel">
                <img src="/img/lookbook/02.jpg" alt="">
            </div>
            <div class="style-products">
                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/lookbook/art.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/cinetic.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/iva.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="style-design">
            <div class="style-title">
                <h1> Ambiance épurée</h1>
            </div>
            <div class="style-visuel">
                <img src="/img/lookbook/03.jpg" alt="">
            </div>
            <div class="style-products">
                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/krik.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/lampadaire.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="/img/lookbook/lina.jpg"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')