@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<div class="cart-container">
    <div class="container">
        <div class="cart-listing empty-cart col-md-8">
            <h1 class="cart-title">Panier</h1>
        </div>
        <div class="empty-cart-msg ">
            <strong> <i class="icon-bag"></i>  Votre panier est vide. </strong>
            <div class="input-group ">
                <button type="submit" class="btn btn-fly btn-lg btn-block">
                    <span>Commencer votre shopping</span>
                </button>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')