@@include('_templates/_header.html')
<!-- BEGIN breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="/" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <strong>Nos magasins</strong>
                    </li>
                </ul>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>

<div class="store-locator-container">
    <div class="container">
        <div class="header-title">
            <h1>60 magasins</h1>
            <strong> prêts à vous accueillir dans toute la France ! </strong>
        </div>
        <div class="map-wrapper">
            <div class="map-search">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-center">
                            <strong>
                            Trouvez le magasin le plus proche de chez vous
                        </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Trouvez le magasin le plus proche de chez vous
                            </strong>
                        </td>
                        <td>
                            <button id="getPositionButton" class="btn-fly btn-lg btn-inverse"><i
                                    class="icon-location"></i>
                                Proche de moi
                            </button>
                        </td>
                        <td><strong>ou</strong></td>
                        <td>
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Code postal"/>
                                    <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="map-container ">
                <div id="sl-map-container-stores"></div>
                <div class="stores-results">
                    <div class="title">
                        <h3>3 magasins trouvés</h3>
                    </div>
                    <ul class="results">
                        <li class="store">
                            <strong>Créteil</strong> <span>- 10 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                        </li>
                        <li class="store">
                            <strong>Evreux </strong> <span>- 100 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                        </li>
                        <li class="store">
                            <strong>Troyes </strong> <span>- 310 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')