@@include('_templates/_header.html')


<div class="store-locator-container">
    <div class="container">
        <div class="header-title">
            <h1>Créteil</h1>
            <strong> Votre magasin et dépot </strong>
        </div>
        <div class="map-wrapper">
            <div class="map-search">
                <div class="details-control  col-md-12">
                    <div class="pull-left">
                        <a href="#" class="back underline ac">
                            Retour à la liste des magasins
                        </a>
                    </div>
                    <div class="pull-right">
                        <button class="btn-fly btn-lg btn-inverse more-store">
                            Voir les fins de série du magasin (60)
                        </button>
                    </div>
                </div>
            </div>
            <div class="map-container ">
                <div id="sl-map-container-stores"></div>
                <div class="stores-details">
                    <div class="store-address col-xs-6">
                        <strong class="name"><img src="../img/checkout/logo.tiny.png" data-rjs="2" alt=""> Créteil</strong>
                        <address>
                            RN 6 Carrefour Pompadour <br>
                            94034 Créteil Cedex
                        </address>

                    </div>
                    <div class="store-fav col-xs-6 pull-right">
                        <a class="add-to-fav" href="#"> Choisir comme magasin préféré  &nbsp;<i
                                class="icon-heart-empty"></i></a>
                        <br>
                        <span>10 Km</span> &nbsp;<span class="underline">Itinéraire</span>
                    </div>
                    <ul class="tab">
                        <li class="active">
                            <a  data-toggle="pill" href="#store-address">
                                Magasin
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#whole-house-address">
                                Dépôt
                            </a>
                        </li>
                    </ul>
                    <div class="address-details">
                        <div class="tab-content">
                            <div id="store-address" class="tab-pane fade in active">
                                <div class="col-xs-12 ">
                                   <strong>Contacter le magasin</strong>


                                       <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                       <a href="tel:0145132900"><i class="icon-fax"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                       <a href="mailto:store-contact@fly.fr"><i class="icon-mail"></i> &nbsp; Contacter par e-mail</a>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                   <div class="store-open-times">
                                       <strong class="open-times-title">Horaires d’ouverture</strong>
                                       <div class="col-xs-12 time-table">
                                           <table>
                                               <tr>
                                                   <td>Lundi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Mardi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr class="today">
                                                   <td>Mercredi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Jeudi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Vendredi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Samedi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Dimanche</td>
                                                   <td>Fermé</td>
                                               </tr>
                                           </table>
                                       </div>

                                   </div>

                               </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Fermetures exceptionnelles</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi 8 mai 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Samedi 25 Décembre 2016 </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Ouvertures exceptionnelles</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi 10 mai 2016 <br>
                                                        de 9h00 à 12h00 - 14h30 à 19h </td>
                                                </tr>
                                                <tr>
                                                    <td>Lundi 11 juin 2016 <br>
                                                        de 9h00 à 12h00 - 14h30 à 19h  </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                               </div>
                            </div>
                            <div id="whole-house-address" class="tab-pane fade">
                                <div class="col-xs-12 ">
                                    <strong>Contacter le dépôt</strong>


                                    <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                    <a href="tel:0145132900"><i class="icon-fax"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                    <a href="mailto:store-contact@fly.fr"><i class="icon-mail"></i> &nbsp; Contacter par e-mail</a>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Horaires du dépôt</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Mardi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr class="today">
                                                    <td>Mercredi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Jeudi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Vendredi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Samedi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Dimanche</td>
                                                    <td>Fermé</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Adresse du dépôt</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>6 rue de la République <br>
                                                        94034 Créteil Cedex</td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')